{% extends "base.html" %}
{% block content %}
{% autoescape false %}

    <h5>Wprowadzone dane</h5>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><b>Odbiorca:</b> {{receiver}}</li>
        <li class="list-group-item"><b>Numer konta:</b> {{account}}</li>
        <li class="list-group-item"><b>Kwota:</b> {{sum}}</li>
    </ul>
    <br />
    <form class="form-signin col-xs-5 col-lg-5 col-md-5 col-xl-5" action="" method="post" id="transfer-form" novalidate>
    <div style="display: none;">
      {{ form.hidden_tag() }}
      <h5>Odbiorca</h5>
      <input id="reciever" name="receiver" class="form-control" required="" autofocus="" readonly value="{{receiver}}">
      <h5>Numer konta</h5>
      <input id="account" name="account" class="form-control" required="" readonly value="{{account}}">
      <h5>Kwota</h5>
      <input id="sum" name="sum" class="form-control" required="" readonly value="{{sum}}">
      <br />
    </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit" id="submit" name="submit" value="Sign in">Zatwierdź</button>
    </form>
{% endautoescape %}

{% endblock %}